.selectedRange {
    background-color: color-mix(in srgb, var(--vscode-button-background) 20%, transparent);
}

.selectedRange.empty {
    background-color: color-mix(in srgb, var(--vscode-button-background) 50%, transparent);
    transform: translateX(2px);
    width: 4px !important;
}

.selected-text {
    background-color: transparent !important;
}