.selectedRange {
    background-color: var(--vscode-inputValidation-errorBackground);

}

.selectedRange.empty {
    background-color: var(--vscode-inputValidation-errorBorder);
    transform: translateX(2px);
    width: 4px !important;
}